<div th:fragment="header">
    <div class="header_top crd_h">
        <div class="header">
            <a href="index.html" class="logo">
                <img th:src="@{{path}/images/logo.png(path=${#request.getContextPath()})}" /></a>
            <div class="right_f">
                <p><a href="#">English</a><a href="#">中文版</a></p>
                <a href="index.html" class="home">首页</a>
            </div>
        </div>
    </div>
    <div class="banner_c">
        <img th:src="@{{path}/images/grzx.png(path=${#request.getContextPath()})}" />
    </div>
</div>
