<div th:fragment="layout">
    <div class="per_left" >
        <div class="p_tit">
            <div class="tx_img">
                <i></i>
                <img th:src="@{/images/big.jpg}" />
            </div>
            <div class="name_f">
                <div class="name_c">
                    <h4>
                        {{message.first_name}}
                        {{message.last_name}}
                    </h4>
                    <a th:href="@{/logout}">退出</a>
                </div>
                <b>
                    会员类型：{{memberType}}
                </b>
                <b>
                    有效期：
                    <em class="red"
                        v-if="message.expiryDate">
                        未激活
                    </em>
                    <em v-else>
                        {{message.expiryDate}}
                    </em>
                </b>
            </div>
        </div>
        <ul>
            <li class="info-btn"><a th:href="@{/member/personal_information}"><i>
                <img th:src="@{/images/gr_icon.png}" width="24" height="23" /></i>个人资料</a> </li>
            <li class="edit-btn"><a th:href="@{/member/edit}"><i>
                <img th:src="@{/images/bj_icon.png}" width="24" height="23" /></i>编辑资料</a> </li>
            <li class="card-btn"><a th:href="@{/member/card}"><i>
                <img th:src="@{/images/mony_icon.png}" width="24" height="23" /></i>电子会员证</a> </li>
            <li class="payment-btn"><a th:href="@{/payment}"><i>
                <img th:src="@{/images/list_icon.png}" width="24" height="23" /></i>缴费列表</a> </li>
            <li class="revise-btn"><a th:href="@{/member/revise}"><i>
                <img th:src="@{/images/key_icon.png}" width="24" height="23" /></i>修改密码</a> </li>
        </ul>
    </div>
</div>

