/**
    添加会议
 */

/*步骤条*/
.steps {
    margin: 20px auto;
}
.el-step__title.is-process {
    color: #5766dd;
}
.el-step__head.is-process {
    color: #5766dd;
    border-color: #5766dd;
}

/*
    基本信息
 */
.base-item {
    margin-bottom: 10px;
}
.base-label {
    float: left;
    width: 90px;
    line-height: 35px;
    margin-right: 10px;
    text-align: right;
}
.base-content {
    float: left;
}
.btn-submit {
    margin-left: 98px;
}
.editor-box {
    height: 300px !important;
    margin-bottom: 50px !important;
}
.editor-title {
    font-size: 26px;
    line-height: 1.5;
}
.editor-tip {
    color: #999;
}
.form-box {
    width: 600px;
    margin: 0 auto;
}
.form-box.max {
    width: auto;
}
.form-box .form-list {
    margin-bottom: 20px;
}
.form-box .form-item {
    float: left;
    width: 50%;
}
.form-box .form-item.large {
    width: 100%;
}
.form-box .form-item  .el-date-editor.el-input {
    width: 180px;
}
.form-box .form-item.large .content {
    width: 480px;
}
.form-box .form-item.large .el-date-editor.el-input {
    width: 100%;
}
.form-list .form-item .label {
    width: 91px;
    text-align: right;
    margin-right: 10px;
    line-height: 35px;
}
.form-box .form-item .label, .form-box .form-item .content {
    float: left;
}
.form-box .form-submit {
    margin-left: 80px;
}
.form-box .el-input__inner {
    width: 180px;
}
.form-box .form-item.large .contant,
.form-box .form-item.large .el-input__inner  {
    width: 360px;
}
.form-btn {
    text-align: center;
    margin: 10px;
}
.form-box .el-button--primary {
    background-color: #5867dd !important;
    border-color: #5867dd !important;
}
.form-box .el-button--primary:hover {
    background-color: #5867dd !important;
    border-color: #5867dd !important;
}
.signUp-box {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e7e7;
}
.el-transfer-panel__footer button {
    padding: 6px 5px;
    margin-left: 5px;
}
.stepTip {
    width: 500px;
    margin: 50px auto 30px;
}
.stepTip h3 {
    margin-top: 30px;
}
.stepTip p {
    color: #999999;
    margin-top: 20px;
    line-height: 1.5;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
    padding: 20px 0;
    margin: 10px 0;
}