<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>电子会员证-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/vice.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/css/element/index.css}" >
</head>

<body>
    <div id="membercard">
        <div th:include="/layout/header::header"></div>
        <div class="personal">
            <div class="per">
                <layout :name="message.name"></layout>
                <div class="per_right">
                    <div class="key">
                        <h4>我的电子会员证</h4>
                    </div>
                    <div class="notip">
                    </div>
                </div>
            </div>
        </div>
        <div class="fot_w2">
            Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
            <br />
            京公网安备110108007550号<br />
            技术支持：北京智联软件技术有限公司
        </div>
    </div>
    <template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:inline="javascript">
    window.message = [[${member}]];
</script>
<script th:src="@{/js/element/index.js}"></script>
<script th:src="@{/js/components/layout.js}"></script>
<script th:src="@{/js/src/membercard.js}"></script>
</html>
