<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>续费列表-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vice.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/css/element/index.css}">
    <style>
        .payTypeList {
            padding-top: 10px;
        }

        .inc_b ul li .payTypeList span {
            margin-right: 0;
            line-height: inherit;
        }

        .upload-demo input {
            display: none !important;
        }

        .upload-demo span {
            line-height: inherit !important;
        }

        .el-upload-list.el-upload-list--picture, .el-upload__tip {
            width: 300px;
            margin-left: 115px;
        }

        .inc_b ul li select {
            width: 150px;
            display: inline-block;
            margin-left: 0;
        }
    </style>
</head>

<body>
<div id="pay-content">
    <div th:include="/layout/header::header"></div>
    <div class="personal">
        <div class="per">
            <layout :message="message"></layout>
            <div class="per_right">
                <div id="step1" class="bg_blocka" v-if="step === 1" v-cloak>
                    <img th:src="@{/images/j_1.png}"/>
                    <div class="inc_b cea">
                        <h4>会费金额</h4>
                        <ul>
                            <li><font class="fontl">会员类型：</font>
                                <span>普通会员
                                </span>
                            </li>
                            <li><font class="fontl">会费金额：</font>
                                <span>{{dues}}元/年*{{duration}}年=400.00元<br/>
                                    （注意：此处需计算本届任期年限，一次交费最长至本届任期结束,<br/>
                                    开始时此处提示不显示） </span>
                            </li>
                            <li class="chbox">
                                <font class="fontl">是否开票：<i>*</i></font>
                                <label class="item">
                                    <input type="radio" value="1" v-model="isKaipiao" name="kaipiao" class="radio"
                                           checked="checked">
                                    <span>否</span></label>
                                &nbsp;&nbsp;
                                <label class="item">
                                    <input type="radio" value="2" v-model="isKaipiao" name="kaipiao" class="radio">
                                    <span>是</span></label>
                            </li>
                        </ul>
                    </div>
                    <div id="kaipiaoarea" class="inc_b cea" v-if="isKaipiao == 2">
                        <h4>开票信息</h4>
                        <ul class="">
                            <li class="chbox"><font class="fontl">抬头类型：<i>*</i></font>
                                <label class="item">
                                    <input type="radio" value="1" v-model="order.titleType" name="kaipiaotype"
                                           id="kaipiaotype_geren"
                                           class="radio"
                                           checked="checked">
                                    <span>个人</span></label>
                                <label class="item">
                                    <input type="radio" value="2" v-model="order.titleType" name="kaipiaotype"
                                           id="kaipiaotype_unit"
                                           class="radio">
                                    <span>单位</span></label>
                            </li>
                            <li><font class="fontl">发票类型：<i>*</i></font>
                                <select id="tickettype" v-model="order.invoiceType">
                                    <template v-for="item in invoiceList">
                                        <option :value="item.value">{{item.name}}</option>
                                    </template>
                                </select>
                            </li>
                            <li v-if="order.titleType != 1"><font class="fontl">发票抬头：<i>*</i></font>
                                <input type="text" v-model.trim="order.invoiceId" id="txt_TicketName"/>
                            </li>
                            <li v-if="order.titleType != 1"><font class="fontl">纳税人识别号：<i>*</i></font>
                                <input type="text" v-model.trim="order.tin" id="txtTicketFaxNo"
                                       class="mui-input-clear"/>
                            </li>
                            <li class="chbox"><font class="fontl">取票方式：<i>*</i></font>
                                <label class="item">
                                    <input type="radio" value="1" v-model="order.deliveryType" name="qupiaotype"
                                           id="qupiaotype_ziqu" class="radio"
                                           checked="checked">
                                    <span>自&nbsp;&nbsp;&nbsp;&nbsp;取</span></label>
                                <label class="item">
                                    <input type="radio" value="2" v-model="order.deliveryType" name="qupiaotype"
                                           id="qupiaotype_guahao"
                                           class="radio">
                                    <span>挂号邮寄</span></label>
                                <label class="item">
                                    <input type="radio" value="3" v-model="order.deliveryType" name="qupiaotype"
                                           id="qupiaotype_kuaidi"
                                           class="radio">
                                    <span>快递邮寄（到付，费用自理）</span></label>
                            </li>

                        </ul>
                        <div id="postarea" class="inc_b cea" v-if="order.deliveryType !=1 ">
                            <h4>邮寄信息</h4>
                            <ul>
                                <li><font class="fontl">收件人姓名<i>*</i></font>
                                    <input type="text" id="txtreceivename" placeholder="长度不超过25个字符"
                                           v-model="order.recipients"/>
                                </li>
                                <li><font class="fontl">手机号码<i>*</i></font>
                                    <input type="text" id="txtmobilephone" placeholder="请填写手机号码"
                                           v-model.trim="order.recipientsMobile"/>
                                </li>
                                <li class="chbox ded">
                                    <font class="fontl">所在地区 <i>*</i></font>
                                    <select name="ddl_provlist" id="ddl_provlist" tabindex="22"
                                            v-model="order.province">
                                        <option value="">省</option>
                                        <template v-for="n in provinceList">
                                            <option :value="n.code">{{n.name}}</option>
                                        </template>
                                    </select>
                                    <select name="ddl_citylist" id="ddl_citylist" tabindex="23"
                                            v-model.trim="order.city">
                                        <option value="">市</option>
                                        <template v-for="n in citiesList">
                                            <option :value="n.code">{{n.name}}</option>
                                        </template>
                                    </select>
                                </li>
                                <li><font class="fontl">详细地址<i>*</i></font>
                                    <textarea class="edr" id="txtAddress"
                                              v-model="order.recipientsAddress"></textarea>
                                </li>
                                <li><font class="fontl"><span>邮政编码</span><i>*</i></font>
                                    <input type="text" id="txtpostcode" placeholder="如您不清楚邮编，请填写000000"
                                           v-model.trim="order.recipientsZipcode"/>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <br/>
                    <br/>
                    <div class="su_icon"><a @click="onStep(2)" class="sua">下一步</a></div>

                </div>

                <div id="step2" class="bg_blocka" v-if="step === 2" v-cloak>
                    <div class="inc_b cea">
                        <img th:src="@{/images/j_2.png}"/>
                        <h4>选择支付方式</h4>
                        <ul>
                            <li class="chbox"><font>支付类型：<i>*</i></font>
                                <div class="payTypeList">
                                    <el-radio v-model="payType" label="1">
                                        线上支付
                                    </el-radio>

                                    <el-radio v-model="payType" label="2">
                                        线下支付（需上传缴费凭证）
                                    </el-radio>
                                </div>
                            </li>
                        </ul>

                        <div id="offline" v-if="payType == 2">
                            <ul class="">
                                <li><font>支付凭证：<i>*</i></font>
                                    <el-upload
                                            class="upload-demo"
                                            :action="uploadUrl"
                                            accept=".jpg,.png"
                                            :on-remove="handleRemove"
                                            :on-success="handSuccess"
                                            :on-error="handError"
                                            :limit="1"
                                            :before-upload="beforeUpload"
                                            :on-exceed="handExceed"
                                            :multiple="false"
                                            list-type="picture">
                                        <el-button size="small" type="primary">点击上传</el-button>
                                        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                                    </el-upload>
                                </li>
                                <li><font> &nbsp;</font>
                                    <span style="color: red"
                                          id="iUpInfo_msg_txtSecondNoticeFile">
                                         <strong>选择支付凭证后请点击后面的上传按钮</strong>
                                     </span>

                                <li><font> &nbsp;</font>
                                    <span>
                                        <br/>
                                        中国体视学学会线下缴费账号：<br/>
                                        账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：中国体视学学会<br/>
                                        开户银行：中国工商银行股份有限公司北京成府路支行<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或：工商银行北京中关村支行成府路分理处
                                        <br/>
                                        开户行号：0200095709200034877
                                    </span>
                            </ul>
                            <div class="su_icon">
                                <a href="javascript:" id="btn_submitoffline"
                                   @click="underLineSubmit()" class="sue">
                                    提交
                                </a>
                            </div>
                        </div>
                        <div id="online" v-if="payType == 1">
                            <ul class="">
                                <li><font>线上类型：<i>*</i></font>
                                    <ul class="tabbtn">
                                        <li id="lialipay" :class="onlineType == 1?'current':''"
                                            @click="onlineType=1">
                                            <a>
                                                <img th:src="@{/images/zfb.png}"/>
                                            </a>
                                        </li>
                                        <li id="liweixinpay" :class="onlineType == 2?'current':''"
                                            @click="onlineType=2">
                                            <a>
                                                <img th:src="@{/images/wx.png}"/>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <input type="hidden" id="hf_paytype" value="2"/>
                            <div class="su_icon">
                                <a href="javascript:;" id="btm_GoToPay" class="sue"
                                    @click="goPay">
                                    去支付
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="step3" class="bg_blocka" v-if="step === 3" v-cloak>
                    <img th:src="@{/images/j_3.png}"/>
                    <div class="cee_c">
                        <img th:src="@{/images/cheg.png}"/>
                        <h4>缴费成功</h4>
                        <p>恭喜您成为学会正式会员！</p>
                        <a href="./personal_information.html">进入我的个人中心</a>
                        <br/>
                        <a href="/">返回中国体视学学会官网首页</a>

                    </div>
                </div>
                <div id="step4" class="bg_blocka" v-if="step === 4" v-cloak>
                    <img th:src="@{/images/j_3.png}"/>
                    <div class="cee_c">
                        <img th:src="@{/images/cheg.png}"/>
                        <h4>线下缴费提交成功！</h4>
                        <p>缴费审核通过后将成为正式会员，请耐心等待...</p>
                        <a href="personal_information.html">进入我的个人中心</a>
                        <br/>
                        <a href="/">返回中国体视学学会官网首页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
        <br/>
        京公网安备110108007550号<br/>
        技术支持：北京智联软件技术有限公司
    </div>

    <el-dialog
        title="支付二维码"
        :visible.sync="qrCodeDialog"
        width="30%"
    >
        <div  v-loading="loading">
            <div id="qrcode" class="qrCode"></div>
        </div>
        <span slot="footer" class="dialog-footer">
        <el-button @click="qrCodeDialog = false">关 闭</el-button>
      </span>
    </el-dialog>
</div>

<template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<script th:inline="javascript">
    window.message = [[${member}]];
</script>
<div th:include="/protalBase/script::protalScript"></div>
<!--<script type="text/javascript">-->
<!--$(document).ready(function () {-->
<!--$("#rbtnpayonline").click(function () {-->
<!--$("#offline").hide();-->
<!--$("#online").show();-->
<!--$("#liweixinpay").removeClass("current");-->
<!--$("#lialipay").addClass("current");-->
<!--$("#hf_paytype").val(2); //线上-->
<!--});-->
<!--$("#rbtnpayoffline").click(function () {-->
<!--$("#offline").show();-->
<!--$("#online").hide();-->
<!--$("#hf_paytype").val(4); //线下-->
<!--});-->

<!--$("#ddl_provlist").change(function () {-->
<!--var provId = $("#ddl_provlist").val();-->
<!--if (provId != 0) {-->

<!--$.ajax({-->
<!--type: "get",//使用get方法访问后台-->

<!--dataType: "json",//返回json格式的数据-->
<!--url: "./Ajax/GetCityListByProvId.ashx?provid=" + provId,//要访问的后台地址-->
<!--success: function (data) {//msg为返回的数据，在这里做数据绑定-->

<!--if (data.status == "ok") {-->
<!--$("#ddl_citylist option").remove();-->
<!--$("#ddl_citylist").append("<option value=''>请选择市区</option>");-->
<!--$.each(data.datamap, function (index, item) {-->
<!--var id = data.datamap[index].id;-->
<!--var text = data.datamap[index].name;-->
<!--$("#ddl_citylist").append("<option value='" + id + "'>" + text + "</option>");-->
<!--});-->
<!--} else {-->
<!--alert(data.reason);-->
<!--}-->
<!--}-->
<!--});-->

<!--}-->
<!--});-->

<!--//开票信息-->
<!--$("#kaipiao_yes").click(function () {-->
<!--$("#kaipiaoarea").css("display", "block");-->

<!--});-->
<!--$("#kaipiao_no").click(function () {-->
<!--$("#kaipiaoarea").css("display", "none");-->
<!--});-->

<!--$("#kaipiaotype_unit").click(function () {-->
<!--$("#shuihaoarea").css("display", "block");-->
<!--});-->
<!--$("#kaipiaotype_geren").click(function () {-->
<!--$("#shuihaoarea").css("display", "none");-->
<!--});-->

<!--$("#qupiaotype_guahao").click(function () {-->
<!--$("#postarea").css("display", "block");-->

<!--});-->
<!--$("#qupiaotype_kuaidi").click(function () {-->
<!--$(".shdz_k").css("display", "none");-->
<!--$("#postarea").css("display", "block");-->
<!--});-->
<!--$("#qupiaotype_ziqu").click(function () {-->
<!--$("#postarea").css("display", "none");-->
<!--});-->
<!--});-->

<!--//线下支付提交-->
<!--function payoffsbumit() {-->


<!--meetingpaydo();-->
<!--return true;-->
<!--}-->

<!--function openpaypage() {-->


<!--meetingpaydo();-->
<!--//显示等待框  同时启动定时刷新获得订单状态定时器  一旦支付成功，跳转到支付成功显示信息.-->
<!--return true;-->
<!--}-->


<!--var timeID;-->
<!--var isweixin = false;-->
<!--var getting = {-->
<!--type: "post",-->
<!--url: '../paycenter/Ajax/CheckOrderStatus.ashx?orderno=' + orderno,-->
<!--success: function (data) {-->
<!--var json = eval('(' + data + ')');-->
<!--if (json.chkres == "sucess") {-->
<!--window.clearInterval(timeID);-->
<!--//支付成功-->
<!--$("#step2").hide();-->
<!--$("#step3").show();-->
<!--} else {-->
<!--if (isweixin) {-->
<!--alert("关闭刷新状态");-->
<!--window.clearInterval(timeID); //微信只返回一次-->
<!--}-->
<!--}-->
<!--}-->
<!--};-->

<!--function meetingpaydo() {-->

<!--//支付成功-->
<!--$("#step2").hide();-->
<!--$("#step4").show();-->


<!--}-->

<!--//线上支付提交-->
<!--function changpaytype(type) {-->
<!--if (type == "alipay") {-->
<!--$("#liweixinpay").removeClass("current");-->
<!--$("#lialipay").addClass("current");-->
<!--$("#hf_paytype").val(2); //微信1 支付宝2-->
<!--} else if (type == "weixinpay") {-->
<!--$("#lialipay").removeClass("current");-->
<!--$("#liweixinpay").addClass("current");-->
<!--$("#hf_paytype").val(1); //微信1 支付宝2-->
<!--}-->
<!--}-->


<!--function newWin(url, id) {-->
<!--var a = document.createElement('a');-->
<!--a.setAttribute('href', url);-->
<!--a.setAttribute('target', '_blank');-->
<!--a.setAttribute('id', id);-->
<!--// 防止反复添加-->
<!--if (!document.getElementById(id)) {-->
<!--document.body.appendChild(a);-->
<!--}-->
<!--a.click();-->
<!--}-->
<!--</script>-->
<script th:src="@{/js/jquery.qrcode.min.js}"></script>
<script th:src="@{/js/src/pay.js}"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>

<script type="text/javascript">
    var socket = new SockJS('/mms/websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
        stompClient.subscribe('/pay/callback', function(msg) {
            alert("success");
        });
    });
</script>

</html>
