<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>续费列表-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/vice.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/css/element/index.css}" >
</head>

<body>
    <div id="payment">
        <div th:include="/layout/header::header"></div>
        <div class="personal">
            <div class="per">
                <layout :message="message"></layout>
                <div class="per_right">
                    <div class="jnhf">
                        <a th:href="@{/payment/pay}" class="jnhf_icon">缴纳会费</a> <a href="#" class="bg_icon">确认变更</a>
                        <p class="rad">
                            <span>变更会员类型：</span>
                            <input type="radio" />
                            高级会员
                        </p>
                        <div style="clear: both"></div>
                        <div class="bloc">距离会员到期还有30天，请您及时续费 </div>
                    </div>
                    <div class="key_hf">
                        <h4>缴纳会费历史记录</h4>
                        <ul>
                            <li class="hu_a"><span class="dd_1">订单号</span> <span class="dd_2">订单类型</span> <span class="dd_2">缴纳金额</span> <span class="dd_2">支付状态</span> <span class="dd_2">缴费时间</span> <span class="dd_3">操作</span> </li>
                            <li>
                                <span class="dd_1">1000000000000008</span>
                                <span class="dd_2">会员缴费</span>
                                <span class="dd_2 cro">￥30.00</span>
                                <span class="dd_2">在线支付</span>
                                <span class="dd_2">2018-1-26</span>
                                <span class="dd_3">
                                    <a href="personal_pay.html" class="i_a">继续支付</a>
                                    <a href="#" class="i_b">取消订单</a>
                                </span>
                            </li>
                            <li><span class="dd_1">1000000000000008</span> <span class="dd_2">会员缴费</span> <span class="dd_2 cro">￥30.00</span> <span class="dd_2">在线支付</span> <span class="dd_2">2018-1-26</span> <span class="dd_3">已完成</span> </li>
                            <li class="tip" v-if="list.content && list.content.length == 0" v-cloak>暂无数据</li>
                        </ul>
                    </div>
                    <div class="search-pagination clearfix">
                        <el-pagination
                                background
                                layout="total, prev, pager, next"
                                :current-page="page"
                                :total="list.totalElements"
                                @current-change="changePage"
                        >
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="fot_w2">
            Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
            <br />
            京公网安备110108007550号<br />
            技术支持：北京智联软件技术有限公司
        </div>
    </div>
    <template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<div th:include="/protalBase/script::protalScript"></div>
<script th:src="@{/js/src/payment.js}"></script>
</html>
