<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>个人资料-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/public.css(path=${#request.getContextPath()})}" />
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/vice.css(path=${#request.getContextPath()})}" />
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/new.css(path=${#request.getContextPath()})}" />
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/base.css(path=${#request.getContextPath()})}" />
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/css/element/index.css}" >
</head>

<body>
    <div id="information">
        <div th:include="/layout/header::header"></div>
        <div class="personal">
            <div class="per">
                <layout :message="message"></layout>
                <div class="per_right">
                    <div class="key">
                        <h4>个人资料详细</h4>
                    </div>
                    <div class="notip">
                    </div>
                    <div class="l_inp">
                        <ul>
                            <li>
                                <font>会员名称：</font>
                                <em v-cloak>{{message.name}}
                                </em>
                            </li>
                            <li>
                                <font>会员编号：</font>
                                <em v-cloak>{{message.memberNo}}
                                </em>
                            </li>
                            <li class="sex">
                                <font>性别：</font>
                                <em v-cloak>{{message.gender === 1?'男':'女'}}
                                </em>
                            </li>
                            <!--自己加的-->
                            <li class="sex">
                                <font>民族：</font>
                                <em v-cloak>{{message.nationality}}
                                </em>
                            </li>
                            <li>
                                <font>研究领域：</font>
                                <em v-cloak>{{message.researchField}}
                                </em>
                            </li>
                            <li>
                                <font>推荐单位：</font>
                                <em v-cloak>{{message.reference===1?'CT理论及应用分会':'材料科学分会'}}
                                </em>
                            </li>
                            <li>
                                <font>毕业学校：</font>
                                <em>
                                </em>
                            </li>
                            <li>
                                <font>党派信息：</font>
                                <em v-cloak>{{message.partisan === 1?'中共党员':'群众'}}
                                </em>
                            </li>
                            <li>
                                <font>工作单位：</font>
                                <em v-cloak>{{message.company}}
                                </em>
                            </li>
                            <li class="zd_f"><font>职称/等级：</font>
                                <em v-cloak>{{message.title}}
                                </em>

                            </li>
                        </ul>
                    </div>
                    <div class="l_inp">
                        <ul>
                            <li><font>会员类型：</font>
                                <em v-cloak>{{message.memberType | memberType}}
                                </em>
                            </li>
                            <li><font>有效期至：</font>
                                <em>
                                </em>
                            </li>
                            <li>
                                <font>出生日期：</font>
                                <em v-cloak>{{message.birthday}}
                                </em>
                            </li>
                            <li>
                                <font>所学专业：</font>
                                <em v-cloak>{{message.major}}
                                </em>
                            </li>
                            <li>
                                <font>工作性质：</font>
                                <em>
                                </em>
                            </li>
                            <li>
                                <font>工作专业：</font>
                                <em>
                                </em>
                            </li>
                            <li>
                                <font>学历：</font>
                                <em v-cloak>{{message.education}}
                                </em>
                            </li>
                            <li>
                                <font>电子邮箱：</font>
                                <em v-cloak>{{message.email}}
                                </em>
                            </li>
                            <li>
                                <font>微信：</font>
                                <em>
                                </em>
                            </li>

                            <li>
                                <font>办公电话：</font>
                                <em>
                                </em>
                            </li>
                        </ul>
                    </div>
                    <div style="clear: both"></div>
                    <ul class="aed">
                        <li><font>业务成绩：</font>
                            <em>
                            </em>
                        </li>
                    </ul>
                    <div class="l_inp">
                        <ul>
                            <li>
                                <font>手机号：</font>
                                <em v-cloak>{{message.mobile}}
                                </em>
                            </li>
                            <li>
                                <font>QQ：</font>
                                <em>
                                </em>
                            </li>

                            <li>
                                <font>传真：</font>
                                <em>
                                </em>
                            </li>
                            <li>
                                <font>邮编：</font>
                                <em>
                                </em>
                            </li>
                        </ul>
                    </div>
                    <div class="l_inp">
                        <ul>


                        </ul>
                    </div>
                    <div style="clear: both"></div>
                    <ul class="aed">
                        <li class="add">
                            <font>通讯地址：</font>
                            <em class="dex">
                            </em>
                    </ul>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
        <div class="fot_w2">
            Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
            <br />
            京公网安备110108007550号<br />
            技术支持：北京智联软件技术有限公司
        </div>
    </div>
    <template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<script th:src="@{{path}/js/jquery-1.7.1.min.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/vue.js(path=${#request.getContextPath()})}"></script>
<script th:inline="javascript">
    window.message = [[${member}]];
</script>
<script th:src="@{{path}/js/components/layout.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/element/index.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/src/personal-information.js(path=${#request.getContextPath()})}"></script>
</html>
