<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑资料-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/public.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/vice.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/new.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/base.css(path=${#request.getContextPath()})}"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .register-form {
            width: 438px;
            margin: 50px auto;
        }
        .selarea select {
            height: 30px;
        }
    </style>
</head>

<body>
<div id="edit-content">
    <div th:include="/layout/header::header"></div>
    <div class="personal">
        <div class="per">
            <layout :message="registerValidateForm"></layout>
            <div class="per_right">
                <div class="key">
                    <h4>个人资料修改</h4>
                </div>
                <div class="notip">

                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>会员姓名<i>*</i></font>
                            <input name="txt_MemberName" type="text" id="txt_MemberName" tabindex="1"
                                   v-model.trim="registerValidateForm.name"
                                   placeholder="请输入会员姓名"/>
                        </li>
                        <li class="sex"><font>性别<i>*</i></font>
                           <template v-for="item in genderList">
                               <label class="item">
                                   <span>{{item.name}}</span>
                                   <input :value="item.value" name="rbtnmembersex" type="radio"
                                          v-model="registerValidateForm.gender"
                                          class="radio"/>

                               </label>
                           </template>
                        </li>
                        <li><font>毕业学校<i>*</i></font>
                            <input name="txt_SchoolName" type="text" v-model="registerValidateForm.school"
                                   id="txt_SchoolName" tabindex="6"
                                   placeholder="请输入毕业学校"/>
                        </li>
                        <li class="selarea"><font>党派信息<i>*</i></font>
                            <select name="ddl_PartyList" id="ddl_PartyList" tabindex="7"
                                v-model="registerValidateForm.partisan">
                                <option value="">请选择</option>
                                <template v-for="item in partisanList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>
                        <li><font>工作单位<i>*</i></font>
                            <input name="txt_WorkUint" type="text"
                                   v-model.trim="registerValidateForm.company" tabindex="8"
                                   placeholder="请输入工作单位"/>

                        </li>
                        <li class="selarea"><font>职称 <i>*</i></font>
                            <input name="txt_Zhicheng" type="text" id="txt_Zhicheng"
                                   v-model.trim="registerValidateForm.title" tabindex="10"
                                   placeholder="请输入职称"/>
                        </li>
                        <li class="selarea"><font> 等级<i>*</i></font>
                            <select name="ddl_ProfessionalLevel" id="ddl_ProfessionalLevel" tabindex="12"
                                    v-model.trim="registerValidateForm.level"
                            >
                                <template v-for="item in levelList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>

                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li class="selarea"><font>会员类型<i>* </i></font>
                            <select name="ddl_memerType" id="ddl_memerType" style="width: 120px;" tabindex="2"
                                    v-model.trim="registerValidateForm.memberType" disabled="disabled">
                                <template v-for="item in memberList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>
                        <li><font>出生日期<i>*</i></font>
                           <div style="float: left;  width: 228px">
                               <el-date-picker type="date" placeholder="选择日期"
                                               :default-value="registerValidateForm.birthday"
                                               v-model="registerValidateForm.birthday"
                                               style="width: 100%;">
                               </el-date-picker>
                           </div>
                        </li>
                        <li><font>所学专业<i>*</i></font>
                            <input name="txt_StudyZhuanYe" type="text"  id="txt_StudyZhuanYe" tabindex="7"
                                   v-model.trim="registerValidateForm.major" placeholder="所学专业"/>

                        </li>
                        <li class="selarea"><font>工作性质<i>*</i></font>
                            <select name="ddl_WorkNature" id="ddl_WorkNature"
                                    v-model.trim="registerValidateForm.workNature" tabindex="9">
                                <option value="">请选择</option>
                                <template v-for="item in workNatureList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>
                        <li><font>工作专业<i>*</i></font>
                            <input name="txt_WorkZhuanYe" type="text"
                                   v-model.trim="registerValidateForm.workajor" id="txt_WorkZhuanYe" tabindex="11"
                                   placeholder="请输入工作专业"/>

                        </li>
                        <li class="selarea"><font>学历<i>*</i></font>
                            <select name="ddl_EducationDegrees" id="ddl_EducationDegrees"
                                    v-model.trim="registerValidateForm.education" tabindex="13">
                                <template v-for="item in educationList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>
                        <li class="selarea"><font>推荐单位<i>* </i></font>
                            <select style="width: 120px;" tabindex="2"
                                    v-model.trim="registerValidateForm.reference">
                                <option value="">请选择</option>
                                <template v-for="item in referenceList">
                                    <option :value="item.value">{{item.name}}</option>
                                </template>
                            </select>
                        </li>

                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>业务成绩<i>*</i></font>
                        <textarea name="txt_YeWuChengJi" rows="5" cols="20" id="txt_YeWuChengJi"
                                  v-model.trim="registerValidateForm.jobPerformance" tabindex="14">
                        </textarea>
                    </li>
                </ul>
                <div class="l_inp">
                    <ul>
                        <li><font>手机号<i>*</i></font>
                            <input name="txt_Mobile" type="text" id="txt_Mobile" tabindex="15"
                                   v-model.trim="registerValidateForm.mobile" placeholder="手机号"/>
                        </li>
                        <li><font>微信</font>
                            <input name="txt_WeChat" type="text" id="txt_WeChat" tabindex="17"
                                   v-model.trim="registerValidateForm.wechat" placeholder="微信"/>
                        </li>
                        <li><font>传真</font>
                            <input name="txt_FaxNo" type="text" id="txt_FaxNo" tabindex="19"
                                   v-model.trim="registerValidateForm.fax" placeholder="传真"/>
                        </li>
                        <li><font>邮编<i>*</i></font>
                            <input name="txt_PostCode" type="text" id="txt_PostCode" tabindex="21"
                                   v-model.trim="registerValidateForm.zipcode" placeholder="邮编"/>
                        </li>
                        <li class="selarea"><font>通讯地址<i>*</i></font>
                            <select name="ddl_provlist" id="ddl_provlist" tabindex="22"
                                    v-model="registerValidateForm.province">
                                <option value="">省</option>
                                <template v-for="n in provinceList">
                                    <option :value="n.code">{{n.name}}</option>
                                </template>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>电子邮箱<i>*</i></font>
                            <input name="txt_Email" type="text" id="txt_Email" tabindex="20"
                                   v-model.trim="registerValidateForm.email" placeholder="电子邮箱"/>
                        </li>

                        <li><font>QQ</font>
                            <input name="txt_QqNo" type="text" id="txt_QqNo" tabindex="18"
                                   v-model.trim="registerValidateForm.oicq" placeholder="QQ"/>
                        </li>
                        <li><font>办公电话</font>
                            <input name="txt_Telephone" type="text" value="010-4356540" id="txt_Telephone" tabindex="16"
                                   v-model.trim="registerValidateForm.telephone" placeholder="办公电话"/>
                        </li>
                        <li class="selarea"><font> <i> </i></font>
                            &nbsp;
                        </li>
                        <li class="selarea">
                            <font>&nbsp;<i></i></font>
                            <select name="ddl_citylist" id="ddl_citylist" tabindex="23"
                                    v-model.trim="registerValidateForm.city">
                                <option value="">市</option>
                                <template v-for="n in citiesList">
                                    <option :value="n.code">{{n.name}}</option>
                                </template>
                            </select>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>&nbsp;<i></i></font>
                        <textarea name="txt_Address" rows="2" cols="20" id="txt_Address" tabindex="24"
                                  v-model.trim="registerValidateForm.address" placeholder="请输入详细地址">
                        </textarea>
                    </li>
                </ul>
                <div style="clear: both"></div>
                <input type="submit" class="keep" value="保   存" @click="check"/>
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
        <br/>
        京公网安备110108007550号<br/>
        技术支持：北京智联软件技术有限公司
    </div>
</div>
<template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<div th:include="/protalBase/script::protalScript"></div>
<script th:src="@{{path}/js/src/personal-edit.js(path=${#request.getContextPath()})}"></script>

</html>
