<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑资料-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/public.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/vice.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/new.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/base.css(path=${#request.getContextPath()})}"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .register-form {
            width: 438px;
            margin: 50px auto;
        }
        .selarea select {
            height: 30px;
        }
    </style>
</head>

<body>
<div id="edit-content">
    <div th:include="/layout/header::header"></div>
    <div class="personal">
        <div class="per">
            <layout :name="registerValidateForm.name"></layout>
            <div class="per_right">
                <div class="key">
                    <h4>个人资料修改</h4>
                </div>
                <div class="notip">

                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>会员姓名<i>*</i></font>
                            <input name="txt_MemberName" type="text" id="txt_MemberName" tabindex="1"
                                   v-model.trim="registerValidateForm.name"
                                   placeholder="请输入会员姓名"/>
                        </li>
                        <li class="sex"><font>性别<i>*</i></font>
                            <label class="item" for="rbtn_sex_woman">
                                <span>女</span>
                                <input value="2" name="rbtnmembersex" type="radio" id="rbtn_sex_woman"
                                       v-model="registerValidateForm.gender"
                                       class="radio"/>

                            </label>
                            <label class="item" for="rbtn_sex_man">
                                <span>男</span>
                                <input value="1" name="rbtnmembersex" type="radio" id="rbtn_sex_man"
                                       tabindex="4" class="radio" checked="checked" v-model="registerValidateForm.gender"/>
                            </label>
                        </li>
                        <li><font>毕业学校<i>*</i></font>
                            <input name="txt_SchoolName" type="text" v-model="registerValidateForm.school"
                                   id="txt_SchoolName" tabindex="6"
                                   placeholder="请输入毕业学校"/>
                        </li>
                        <li class="selarea"><font>党派信息<i>*</i></font>
                            <select name="ddl_PartyList" id="ddl_PartyList" tabindex="7"
                                v-model="registerValidateForm.partisan">
                                <option value="">请选择</option>
                                <option selected="selected" value="1">中共党员</option>
                                <option value="2">中国国民党革命委员会</option>
                                <option value="3">中国民主同盟</option>
                                <option value="4">中国民主建国会</option>
                                <option value="5">中国民主促进会</option>
                                <option value="6">中国农工民主党</option>
                                <option value="7">中国致公党</option>
                                <option value="8">九三学社</option>
                                <option value="9">台湾民主自治同盟</option>
                                <option value="10">无党派</option>
                            </select>
                        </li>
                        <li><font>工作单位<i>*</i></font>
                            <input name="txt_WorkUint" type="text"
                                   v-model.trim="registerValidateForm.company" tabindex="8"
                                   placeholder="请输入工作单位"/>

                        </li>
                        <li class="selarea"><font>职称 <i>*</i></font>
                            <input name="txt_Zhicheng" type="text" id="txt_Zhicheng"
                                   v-model.trim="registerValidateForm.title" tabindex="10"
                                   placeholder="请输入职称"/>
                        </li>
                        <li class="selarea"><font> 等级<i>*</i></font>
                            <select name="ddl_ProfessionalLevel" id="ddl_ProfessionalLevel" tabindex="12"
                                    v-model.trim="registerValidateForm.level"
                            >
                                <option value="">请选择</option>
                                <option value="初级">初级</option>
                                <option value="中级">中级</option>
                                <option value="副高级">副高级</option>
                                <option value="正高级">正高级</option>
                                <option value="无">无</option>
                            </select>
                        </li>

                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li class="selarea"><font>会员类型<i>* </i></font>
                            <select name="ddl_memerType" id="ddl_memerType" style="width: 120px;" tabindex="2"
                                    v-model.trim="registerValidateForm.memberType" disabled="disabled">
                                <option value="">请选择</option>
                                <option value="1">普通会员</option>
                                <option value="2">学生会员</option>
                                <option value="3">团体会员</option>
                            </select>
                        </li>
                        <li><font>出生日期<i>*</i></font>
                           <div style="float: left;  width: 228px">
                               <el-date-picker type="date" placeholder="选择日期"
                                               :default-value="registerValidateForm.birthday"
                                               v-model="registerValidateForm.birthday"
                                               style="width: 100%;">
                               </el-date-picker>
                           </div>
                        </li>
                        <li><font>所学专业<i>*</i></font>
                            <input name="txt_StudyZhuanYe" type="text"  id="txt_StudyZhuanYe" tabindex="7"
                                   v-model.trim="registerValidateForm.major" placeholder="所学专业"/>

                        </li>
                        <li class="selarea"><font>工作性质<i>*</i></font>
                            <select name="ddl_WorkNature" id="ddl_WorkNature"
                                    v-model.trim="registerValidateForm.workNature" tabindex="9">
                                <option value="">请选择</option>
                                <option value="1">管理</option>
                                <option value="2">科学研究</option>
                                <option value="3">技术应用与服务</option>
                                <option value="4">生产</option>
                                <option value="5">其他</option>
                                <option value="6">在读学生</option>
                            </select>
                        </li>
                        <li><font>工作专业<i>*</i></font>
                            <input name="txt_WorkZhuanYe" type="text"
                                   v-model.trim="registerValidateForm.workajor" id="txt_WorkZhuanYe" tabindex="11"
                                   placeholder="请输入工作专业"/>

                        </li>
                        <li class="selarea"><font>学历<i>*</i></font>
                            <select name="ddl_EducationDegrees" id="ddl_EducationDegrees"
                                    v-model.trim="registerValidateForm.workajor" tabindex="13">
                                <option value="">请选择</option>
                                <option value="博士">博士</option>
                                <option value="硕士">硕士</option>
                                <option value="本科">本科</option>
                                <option value="专科">专科</option>
                                <option value="其他">其他</option>
                            </select>
                        </li>
                        <li class="selarea"><font>推荐单位<i>* </i></font>
                            <select style="width: 120px;" tabindex="2"
                                    v-model.trim="registerValidateForm.reference">
                                <option value="">请选择</option>
                                <option value="1">CT理论及应用分会</option>
                                <option value="2">材料科学分会</option>
                            </select>
                        </li>

                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>业务成绩<i>*</i></font>
                        <textarea name="txt_YeWuChengJi" rows="5" cols="20" id="txt_YeWuChengJi"
                                  v-model.trim="registerValidateForm.jobPerformance" tabindex="14">
                        </textarea>
                    </li>
                </ul>
                <div class="l_inp">
                    <ul>
                        <li><font>手机号<i>*</i></font>
                            <input name="txt_Mobile" type="text" id="txt_Mobile" tabindex="15"
                                   v-model.trim="registerValidateForm.mobile" placeholder="手机号"/>
                        </li>
                        <li><font>微信</font>
                            <input name="txt_WeChat" type="text" id="txt_WeChat" tabindex="17"
                                   v-model.trim="registerValidateForm.wechat" placeholder="微信"/>
                        </li>
                        <li><font>传真</font>
                            <input name="txt_FaxNo" type="text" id="txt_FaxNo" tabindex="19"
                                   v-model.trim="registerValidateForm.fax" placeholder="传真"/>
                        </li>
                        <li><font>邮编<i>*</i></font>
                            <input name="txt_PostCode" type="text" id="txt_PostCode" tabindex="21"
                                   v-model.trim="registerValidateForm.zipcode" placeholder="邮编"/>
                        </li>
                        <li class="selarea"><font>通讯地址<i>*</i></font>
                            <select name="ddl_provlist" id="ddl_provlist" tabindex="22"
                                    v-model="registerValidateForm.province" >
                                <option value="">请选择省份</option>
                                <option value="1">北京市</option>
                                <option value="2">天津市</option>
                                <option value="3">河北省</option>
                                <option value="4">山西省</option>
                                <option value="5">内蒙古自治区</option>
                                <option value="6">辽宁省</option>
                                <option value="7">吉林省</option>
                                <option value="8">黑龙江省</option>
                                <option value="9">上海市</option>
                                <option value="10">江苏省</option>
                                <option value="11">浙江省</option>
                                <option value="12">安徽省</option>
                                <option value="13">福建省</option>
                                <option value="14">江西省</option>
                                <option value="15">山东省</option>
                                <option value="16">河南省</option>
                                <option value="17">湖北省</option>
                                <option value="18">湖南省</option>
                                <option value="19">广东省</option>
                                <option value="20">广西壮族自治区</option>
                                <option value="21">海南省</option>
                                <option value="22">重庆市</option>
                                <option value="23">四川省</option>
                                <option value="24">贵州省</option>
                                <option value="25">云南省</option>
                                <option value="26">西藏自治区</option>
                                <option value="27">陕西省</option>
                                <option value="28">甘肃省</option>
                                <option value="29">青海省</option>
                                <option value="30">宁夏回族自治区</option>
                                <option value="31">新疆维吾尔自治区</option>
                                <option value="32">香港特别行政区</option>
                                <option value="33">澳门特别行政区</option>
                                <option value="34">台湾省</option>
                            </select>
                        </li>


                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>电子邮箱<i>*</i></font>
                            <input name="txt_Email" type="text" id="txt_Email" tabindex="20"
                                   v-model.trim="registerValidateForm.email" placeholder="电子邮箱"/>
                        </li>

                        <li><font>QQ</font>
                            <input name="txt_QqNo" type="text" id="txt_QqNo" tabindex="18"
                                   v-model.trim="registerValidateForm.oicq" placeholder="QQ"/>
                        </li>
                        <li><font>办公电话</font>
                            <input name="txt_Telephone" type="text" value="010-4356540" id="txt_Telephone" tabindex="16"
                                   v-model.trim="registerValidateForm.telephone" placeholder="办公电话"/>
                        </li>
                        <li class="selarea"><font> <i> </i></font>
                            &nbsp;
                        </li>
                        <li class="selarea">
                            <font>&nbsp;<i></i></font>
                            <select name="ddl_citylist" id="ddl_citylist" tabindex="23"
                                    v-model.trim="registerValidateForm.city">
                                <option value="">请选择市区</option>
                                <option value="25">呼和浩特市</option>
                                <option value="26">包头市</option>
                                <option value="27">乌海市</option>
                                <option value="28">赤峰市</option>
                                <option value="29">通辽市</option>
                                <option value="30">鄂尔多斯市</option>
                                <option value="31">呼伦贝尔市</option>
                                <option value="32">巴彦淖尔市</option>
                                <option value="33">乌兰察布市</option>
                                <option value="34">兴安盟</option>
                                <option value="35">锡林郭勒盟</option>
                                <option value="36">阿拉善盟</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>&nbsp;<i></i></font>
                        <textarea name="txt_Address" rows="2" cols="20" id="txt_Address" tabindex="24"
                                  v-model.trim="registerValidateForm.address" placeholder="请输入详细地址">
                        </textarea>
                    </li>
                </ul>
                <div style="clear: both"></div>
                <input type="submit" class="keep" value="保   存" @click="check"/>
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
        <br/>
        京公网安备110108007550号<br/>
        技术支持：北京智联软件技术有限公司
    </div>
</div>
<template th:include="/layout/layout::layout" id="per_left"></template>
</body>
<script th:src="@{{path}/js/jquery-1.7.1.min.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/vue.js(path=${#request.getContextPath()})}"></script>
<script th:inline="javascript">
    window.message = [[${member}]];
</script>
<script th:src="@{{path}/js/components/layout.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/element/index.js(path=${#request.getContextPath()})}"></script>
<script th:src="@{{path}/js/src/personal-edit.js(path=${#request.getContextPath()})}"></script>

</html>
