<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户注册-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/public.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/vice.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/src/register.css(path=${#request.getContextPath()})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/base.css(path=${#request.getContextPath()})}" />
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div class="header_top crd_h">
    <div class="header">
        <a href="../index.html" class="logo">
            <img th:src="@{{path}/images/logo.png(path=${#request.getContextPath()})}"/></a></a>
        <div class="right_f">
            <p><a href="#">English</a><a href="#">中文版</a></p>
            <a href="../index.html" class="home">首页</a>
        </div>
    </div>
</div>

<div class="banner_c">
    <img th:src="@{{path}/images/register.png(path=${#request.getContextPath()})}"/></a>
</div>
<div class="r_cen" id="register">
    <div class="reg_c">
        <h4>会员注册</h4>
        <h5>已有账号？<a th:href="@{/login}">立即登录</a></h5>

        <div class="register-form">
            <el-form :model="registerValidateForm" :rules="rules" ref="registerValidateForm" label-width="100px"
                     class="demo-ruleForm">
                <el-form-item
                    prop="email"
                    label="邮箱"
                    :rules="[
                        { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                        { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
                    ]"
                >
                    <el-input placeholder="请输入您的邮箱" v-model.trim="registerValidateForm.email"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="pass">
                    <el-input type="password" placeholder="密码请输入8至20个字符" v-model.trim="registerValidateForm.pass"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" placeholder="请确认密码" v-model.trim="registerValidateForm.checkPass"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="会员名称"
                        prop="name"
                        :rules="[
                            { required: true, message: '请输入会员名称', trigger: 'change' }
                        ]"
                >
                    <el-input type="age" placeholder="请输入会员名称" v-model.trim="registerValidateForm.name"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="会员类型"
                        prop="memberType"
                        :rules="[
                            { required: true, message: '请输入会员类型', trigger: 'change' }
                            ]"
                >
                    <el-radio-group v-model="registerValidateForm.memberType">
                        <template v-for="item in memberList">
                            <el-radio :label="item.value">{{item.name}}</el-radio>
                        </template>
                    </el-radio-group>
                </el-form-item>
                <el-form-item
                        label="手机号码"
                        prop="phone"
                >
                    <el-input type="text" placeholder="请输入手机号" v-model.trim="registerValidateForm.phone"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="推荐单位"
                        prop="reference"
                        :rules="[
                            { required: true, message: '请选择推荐单位', trigger: 'change' }
                            ]"
                >
                    <el-select v-model="registerValidateForm.reference" placeholder="请选择推荐单位">
                        <template v-for="item in referenceList">
                            <el-option :label="item.name" :value="item.value"></el-option>
                        </template>
                    </el-select>
                </el-form-item>
                <el-form-item
                        label="性别"
                        prop="gender"
                        :rules="[
                            { required: true, message: '请选择性别', trigger: 'change' }
                            ]"
                >
                    <el-radio-group v-model="registerValidateForm.gender">
                        <template v-for="item in genderList">
                            <el-radio :label="item.value">{{item.name}}</el-radio>
                        </template>
                    </el-radio-group>
                </el-form-item>
                <el-form-item
                        label="出生日期"
                        required
                >
                    <el-col :span="11">
                        <el-form-item
                                prop="born"
                                :rules="[
                                { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                                ]"
                        >
                            <el-date-picker type="date" placeholder="选择日期" v-model="registerValidateForm.born"
                                            style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-form-item>
                <el-form-item
                        label="单位"
                        prop="company"
                        :rules="[
                            { required: true, message: '请输入您的单位', trigger: 'change' }
                            ]"
                >
                    <el-input type="text" placeholder="请输入您的单位" v-model.trim="registerValidateForm.company"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="职称"
                        prop="zc"
                        :rules="[
                            { required: true, message: '请输入您的职称', trigger: 'change' }
                            ]"
                >
                    <el-input type="text" placeholder="请输入您的职称" v-model.trim="registerValidateForm.zc"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="民族"
                        prop="nationality"
                        :rules="[
                            { required: true, message: '请输入您的民族', trigger: 'change' }
                            ]"
                >
                    <el-col :span="11">
                        <el-input type="text" placeholder="请输入您的民族" v-model.trim="registerValidateForm.nationality"
                                  auto-complete="off"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item
                        label="党派"
                        prop="partisan"
                        :rules="[
                            { required: true, message: '请选择党派', trigger: 'change' }
                            ]"
                >
                    <el-select v-model="registerValidateForm.partisan" placeholder="请选择您的党派">
                        <template v-for="item in partisanList">
                            <el-option :label="item.name" :value="item.value"></el-option>
                        </template>
                    </el-select>
                </el-form-item>
                <el-form-item
                        label="专业"
                        prop="major"
                        :rules="[
                            { required: true, message: '请输入您的专业', trigger: 'change' }
                            ]"
                >
                    <el-input type="text" placeholder="请输入您的专业" v-model.trim="registerValidateForm.major"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item
                        label="学历"
                        prop="education"
                        :rules="[
                            { required: true, message: '请输入您的学历', trigger: 'change' }
                            ]"
                >
                    <el-select v-model="registerValidateForm.education" placeholder="请选择您的学历">
                        <template v-for="item in educationList">
                            <el-option :label="item.name" :value="item.value"></el-option>
                        </template>
                    </el-select>
                </el-form-item>
                <el-form-item
                        label="研究领域"
                        prop="researchField"
                        :rules="[
                            { required: true, message: '请输入您的研究领域', trigger: 'change' }
                            ]"
                >
                    <el-input type="text" placeholder="请输入您的研究领域" v-model.trim="registerValidateForm.researchField"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="已有会员号" prop="memberNo">
                    <el-input type="text" placeholder="如果您是会员，请输入您的会员号" v-model.trim="registerValidateForm.memberNo"
                              auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="submitBtn" @click="submitForm('registerValidateForm')">提交
                    </el-button>
                    <el-button @click="resetForm('registerValidateForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>
<div class="fot_w2">
    Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108
    <br/>
    京公网安备110108007550号<br/>
    技术支持：北京智联软件技术有限公司
</div>
</body>
<div th:include="/protalBase/script::protalScript"></div>
<script th:src="@{{path}/js/src/register.js(path=${#request.getContextPath()})}"></script>

</html>
