<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑资料-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/vice.css"/>
    <link href="..css/new.css" rel="stylesheet" />
</head>

<body>
    <div class="header_top crd_h">
        <div class="header">
            <a href="index.html" class="logo">
                <img src="images/logo.png" /></a>
            <div class="right_f">
                <p><a href="#">English</a><a href="#">中文版</a></p>
                <a href="index.html" class="home">首页</a>
            </div>
        </div>
    </div>
    <div class="banner_c">
        <img src="images/grzx.png" />
    </div>
    <div class="personal">
        <div class="per">
            <div class="per_left">
                <div class="p_tit">
                    <div class="tx_img">
                        <i></i>
                        <img src="images/big.jpg" />
                    </div>
                    <div class="name_f">
                        <div class="name_c">
                            <h4>张三丰</h4>
                            <a href="login.html">退出</a>
                        </div>
                        <b>会员类型：普通会员</b> <b>有效期：2018-01-19</b>
                    </div>
                </div>
                <ul>
                    <li><a href="personal_information.html"><i>
                        <img src="images/gr_icon.png" width="24" height="23" /></i>个人资料</a> </li>
                    <li class="cur"><a href="personal_edit.html"><i>
                        <img src="images/bj_icon.png" width="24" height="23" /></i>编辑资料</a> </li>
                    <li><a href="membercard.html"><i>
                        <img src="images/mony_icon.png" width="24" height="23" /></i>电子会员证</a> </li>
                    <li><a href="personal_payment.html"><i>
                        <img src="images/list_icon.png" width="24" height="23" /></i>缴费列表</a> </li>
                    <li><a href="personal_revise.html"><i>
                        <img src="images/key_icon.png" width="24" height="23" /></i>修改密码</a> </li>
                </ul>
            </div>
            <div class="per_right">
                <div class="key">
                    <h4>个人资料修改</h4>
                </div>
                 <div class="notip">
                  
                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>会员姓名<i>*</i></font>
                            <input name="txt_MemberName" type="text" value="白一通" id="txt_MemberName" tabindex="1" placeholder="请输入会员姓名" />
                        </li>
                        <li class="sex"><font>性别<i>*</i></font>
                            <label class="item" for="rbtn_sex_woman">
                                <span>女</span>
                                <input value="0" name="rbtnmembersex" type="radio" id="rbtn_sex_woman" tabindex="3" class="radio" />

                            </label>
                            <label class="item" for="rbtn_sex_man">
                                <span>男</span><input value="1" name="rbtnmembersex" type="radio" id="rbtn_sex_man" tabindex="4" class="radio" checked="checked" />

                            </label>
                        </li>
                        <li><font>毕业学校<i>*</i></font>
                            <input name="txt_SchoolName" type="text" value="北京大学" id="txt_SchoolName" tabindex="6" placeholder="请输入毕业学校" />
                        </li>
                        <li class="selarea"><font>党派信息<i>*</i></font>
                            <select name="ddl_PartyList" id="ddl_PartyList" tabindex="7">
                                <option value="">请选择</option>
                                <option selected="selected" value="1">中共党员</option>
                                <option value="2">中国国民党革命委员会</option>
                                <option value="3">中国民主同盟</option>
                                <option value="4">中国民主建国会</option>
                                <option value="5">中国民主促进会</option>
                                <option value="6">中国农工民主党</option>
                                <option value="7">中国致公党</option>
                                <option value="8">九三学社</option>
                                <option value="9">台湾民主自治同盟</option>
                                <option value="10">无党派</option>
                            </select>
                        </li>
                        <li><font>工作单位<i>*</i></font>
                            <input name="txt_WorkUint" type="text" value="北京大学" id="txt_WorkUint" tabindex="8" placeholder="请输入工作单位" />

                        </li>
                        <li class="selarea"><font>职称 <i>*</i></font>
                            <input name="txt_Zhicheng" type="text" value="高级" id="txt_Zhicheng" tabindex="10" placeholder="请输入职称" />
                        </li>
                        <li class="selarea"><font> 等级<i>*</i></font>
                            <select name="ddl_ProfessionalLevel" id="ddl_ProfessionalLevel" tabindex="12">
                                <option value="">请选择</option>
                                <option value="初级">初级</option>
                                <option selected="selected" value="中级">中级</option>
                                <option value="副高级">副高级</option>
                                <option value="正高级">正高级</option>
                                <option value="无">无</option>
                            </select>
                        </li>

                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li class="selarea"><font>会员类型<i>* </i></font>
                            <select name="ddl_memerType" id="ddl_memerType" style="width: 120px;" tabindex="2" disabled="disabled">
                                <option value="">请选择</option>
                                <option selected="selected" value="2">普通会员</option>
                                <option value="5">普通会员（中学教师）</option>
                                <option value="4">学生会员</option>
                            </select>
                        </li>
                        <li><font>出生日期<i>*</i></font>
                            <input name="txt_MemberBirthday" type="text" value="2018-05-22" readonly="readonly" id="txt_MemberBirthday" tabindex="5" placeholder="出生日期" data-provide="datepicker" onfocus=" WdatePicker({ startDate: this.value, dateFmt: &#39;yyyy-MM-dd&#39;, isShowClear: false, errDealMode: 1, autoPickDate: true, readOnly: true }) " />

                        </li>
                        <li><font>所学专业<i>*</i></font>
                            <input name="txt_StudyZhuanYe" type="text" value="地理资源" id="txt_StudyZhuanYe" tabindex="7" placeholder="所学专业" />

                        </li>
                        <li class="selarea"><font>工作性质<i>*</i></font>
                            <select name="ddl_WorkNature" id="ddl_WorkNature" tabindex="9">
                                <option value="">请选择</option>
                                <option selected="selected" value="1">管理</option>
                                <option value="2">科学研究</option>
                                <option value="3">技术应用与服务</option>
                                <option value="4">生产</option>
                                <option value="5">其他</option>
                                <option value="6">在读学生</option>
                            </select>
                        </li>
                        <li><font>工作专业<i>*</i></font>
                            <input name="txt_WorkZhuanYe" type="text" value="地理教师" id="txt_WorkZhuanYe" tabindex="11" placeholder="工作专业" />

                        </li>
                        <li class="selarea"><font>学历<i>*</i></font>
                            <select name="ddl_EducationDegrees" id="ddl_EducationDegrees" tabindex="13">
                                <option value="">请选择</option>
                                <option selected="selected" value="博士">博士</option>
                                <option value="硕士">硕士</option>
                                <option value="本科">本科</option>
                                <option value="专科">专科</option>
                                <option value="其他">其他</option>
                            </select>
                        </li>


                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>业务成绩<i>*</i></font>
                        <textarea name="txt_YeWuChengJi" rows="5" cols="20" id="txt_YeWuChengJi" tabindex="14">
无</textarea>
                    </li>
                </ul>
                <div class="l_inp">
                    <ul>
                        <li><font>手机号<i>*</i></font>
                            <input name="txt_Mobile" type="text" value="13511111111" id="txt_Mobile" tabindex="15" placeholder="手机号" />
                        </li>
                        <li><font>微信</font>
                            <input name="txt_WeChat" type="text" value="100001" id="txt_WeChat" tabindex="17" placeholder="微信" />
                        </li>
                        <li><font>传真</font>
                            <input name="txt_FaxNo" type="text" value="010-4356540" id="txt_FaxNo" tabindex="19" placeholder="传真" />
                        </li>
                        <li><font>邮编<i>*</i></font>
                            <input name="txt_PostCode" type="text" value="100001" id="txt_PostCode" tabindex="21" placeholder="邮编" />
                        </li>
                        <li class="selarea"><font>通讯地址<i>*</i></font>
                            <select name="ddl_provlist" id="ddl_provlist" tabindex="22">
                                <option value="">请选择省份</option>
                                <option value="1">北京市</option>
                                <option value="2">天津市</option>
                                <option value="3">河北省</option>
                                <option value="4">山西省</option>
                                <option selected="selected" value="5">内蒙古自治区</option>
                                <option value="6">辽宁省</option>
                                <option value="7">吉林省</option>
                                <option value="8">黑龙江省</option>
                                <option value="9">上海市</option>
                                <option value="10">江苏省</option>
                                <option value="11">浙江省</option>
                                <option value="12">安徽省</option>
                                <option value="13">福建省</option>
                                <option value="14">江西省</option>
                                <option value="15">山东省</option>
                                <option value="16">河南省</option>
                                <option value="17">湖北省</option>
                                <option value="18">湖南省</option>
                                <option value="19">广东省</option>
                                <option value="20">广西壮族自治区</option>
                                <option value="21">海南省</option>
                                <option value="22">重庆市</option>
                                <option value="23">四川省</option>
                                <option value="24">贵州省</option>
                                <option value="25">云南省</option>
                                <option value="26">西藏自治区</option>
                                <option value="27">陕西省</option>
                                <option value="28">甘肃省</option>
                                <option value="29">青海省</option>
                                <option value="30">宁夏回族自治区</option>
                                <option value="31">新疆维吾尔自治区</option>
                                <option value="32">香港特别行政区</option>
                                <option value="33">澳门特别行政区</option>
                                <option value="34">台湾省</option>
                            </select>
                        </li>


                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>电子邮箱<i>*</i></font>
                            <input name="txt_Email" type="text" value="13511111111@qq.com" id="txt_Email" tabindex="20" placeholder="电子邮箱" />
                        </li>

                        <li><font>QQ</font>
                            <input name="txt_QqNo" type="text" value="100001" id="txt_QqNo" tabindex="18" placeholder="QQ" />
                        </li>
                        <li><font>办公电话</font>
                            <input name="txt_Telephone" type="text" value="010-4356540" id="txt_Telephone" tabindex="16" placeholder="办公电话" />
                        </li>
                        <li class="selarea"><font> <i> </i></font>
                            &nbsp;
                        </li>
                        <li class="selarea">
                            <font>&nbsp;<i></i></font>
                            <select name="ddl_citylist" id="ddl_citylist" tabindex="23">
                                <option value="">请选择市区</option>
                                <option selected="selected" value="25">呼和浩特市</option>
                                <option value="26">包头市</option>
                                <option value="27">乌海市</option>
                                <option value="28">赤峰市</option>
                                <option value="29">通辽市</option>
                                <option value="30">鄂尔多斯市</option>
                                <option value="31">呼伦贝尔市</option>
                                <option value="32">巴彦淖尔市</option>
                                <option value="33">乌兰察布市</option>
                                <option value="34">兴安盟</option>
                                <option value="35">锡林郭勒盟</option>
                                <option value="36">阿拉善盟</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="rex">
                    <li><font>&nbsp;<i></i></font>
                        <textarea name="txt_Address" rows="2" cols="20" id="txt_Address" tabindex="24" placeholder="请输入详细地址">
昌平区</textarea>
                    </li>
                </ul>
                <div style="clear: both"></div>
                <input type="submit" class="keep" value="保   存" tabindex="25" />
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108 
        <br />
        京公网安备110108007550号<br />
        技术支持：北京智联软件技术有限公司
    </div>
</body>
</html>
