<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户注册-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/vice.css" />

</head>

<body>
    <div class="header_top crd_h">
        <div class="header">
            <a href="../index.html" class="logo">
                <img src="images/logo.png" /></a>
            <div class="right_f">
                <p><a href="#">English</a><a href="#">中文版</a></p>
                <a href="../index.html" class="home">首页</a>
            </div>
        </div>
    </div>

    <div class="banner_c">
        <img src="images/register.png" /></div>
    <div class="r_cen">
        <div class="reg_c">
            <h4>会员注册</h4>
            <h5>已有账号？<a href="login.html">立即登录</a></h5>
            <p class="lc_bg">
                 <img src="images/liuc_3.png" /> </p>
            <div class="fonts">
                <img src="images/cheg.png" />
                <h4>注册成功</h4>
                <a href="personal_pay.html" class="xuf">立即缴费成为学会会员</a>
                <a href="../index.html" class="homes">返回首页</a>
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108 
        <br />
        京公网安备110108007550号<br />
        技术支持：北京智联软件技术有限公司
    </div>
</body>
</html>
