<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户注册-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/vice.css" />

</head>

<body>
    <div class="header_top crd_h">
        <div class="header">
            <a href="../index.html" class="logo">
                <img src="images/logo.png" /></a>
            <div class="right_f">
                <p><a href="#">English</a><a href="#">中文版</a></p>
                <a href="../index.html" class="home">首页</a>
            </div>
        </div>
    </div>

    <div class="banner_c">
        <img src="images/register.png" />
    </div>
    <div class="r_cen">
        <div class="reg_c">
            <h4>会员注册</h4>
            <h5>已有账号？<a href="login.html">立即登录</a></h5>

            <ul>
                <li><font>邮箱<i>*</i></font>
                    <input type="text" placeholder="请输入要注册的邮箱" /></li>
                <li><font>密码<i>*</i></font>
                    <input type="text" placeholder="密码请设置8-20个字符" /></li>
                <li><font>确认密码<i>*</i></font>
                    <input type="text" placeholder="请确认密码" /></li>

                <li><font>会员名称<i>*</i></font>
                    <input type="text" placeholder="请输入名称" /></li>
                <li class="chbox"><font>会员类型<i>*</i></font>
                    <label class="item">
                        <input type="radio" value="1" name="sex" class="radio">
                        <span>普通会员</span></label>
                    <label class="item">
                        <input type="radio" value="1" name="sex" class="radio">
                        <span>学生会员</span></label>
                    <label class="item">
                        <input type="radio" value="1" name="sex" class="radio">
                        <span>团体会员</span></label>
                </li>
                <li><font>手机号码<i>*</i></font>
                    <input type="text" placeholder="请输入您的手机号码" /></li>

                <li><font>推荐单位<i>*</i></font>
                    <select>
                        <option>CT理论及应用分会</option>

                        <option>材料科学分会</option>
                    </select>
                </li>
                <li class="chbox"><font>性别<i>*</i></font>
                    <label class="item">
                        <input type="radio" value="1" name="sex" class="radio">
                        <span>男</span></label>
                    <label class="item">
                        <input type="radio" value="1" name="sex" class="radio">
                        <span>女</span></label>
                </li>
                <li><font>出生日期<i>*</i></font>
                    <input type="text" placeholder="请输入您的出生日期" /></li>
                <li><font>单位<i>*</i></font>
                    <input type="text" placeholder="请输入您的单位" /></li>
                <li><font>职称<i>*</i></font>
                    <input type="text" placeholder="请输入您的职称" /></li>

                <li><font>民族<i>*</i></font>
                    <input type="text" placeholder="请输入您的民族" /></li>
                <li><font>党派<i>*</i></font>
                    <select>
                        <option>中共党员</option>

                        <option>群众</option>
                    </select>

                </li>

                <li><font>专业<i>*</i></font>
                    <input type="text" placeholder="请输入您的专业" /></li>
                <li><font>学历<i>*</i></font>
                    <input type="text" placeholder="请输入您的学历" /></li>
                <li><font>研究领域<i>*</i></font>
                    <input type="text" placeholder="请输入您的研究领域" /></li>



                <li><font>已有会员号</font>
                    <input type="text" placeholder="如您已经是会员，请输入您的会员号" /></li>

                <!-- <li><font>个人简历</font>
                    <input type="text" placeholder="请输入您的手机号码" /></li>
                <li><font>通讯地址</font>
                    <input type="text" placeholder="请输入您的手机号码"/></li>
                    <li><font>上传照片</font>
                    <input type="text" placeholder="请输入您的手机号码"/></li>-->
            </ul>
            <a href="register3.html" class="icont">提交注册</a>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108 
        <br />
        京公网安备110108007550号<br />
        技术支持：北京智联软件技术有限公司
    </div>
</body>
</html>
