<template th:fragment="script">
    <script th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element/index.js}"></script>
    <script th:src="@{/js/components/layout.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var ctxPath = [[${#request.getContextPath()}]];
        window.ctxPath = ctxPath;
        window.message = [[${member}]];
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
    </script>
</template>