<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人资料-中国体视学学会会员服务系统</title>
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/vice.css"/>
    <link href="..css/new.css" rel="stylesheet" />
</head>

<body>
    <div class="header_top crd_h">
        <div class="header">
            <a href="index.html" class="logo">
                <img src="images/logo.png" /></a>
            <div class="right_f">
                <p><a href="#">English</a><a href="#">中文版</a></p>
                <a href="index.html" class="home">首页</a>
            </div>
        </div>
    </div>
    <div class="banner_c">
        <img src="images/grzx.png" />
    </div>
    <div class="personal">
        <div class="per">
            <div class="per_left">
                <div class="p_tit">
                    <div class="tx_img">
                        <i></i>
                        <img src="images/big.jpg" />
                    </div>
                    <div class="name_f">
                        <div class="name_c">
                            <h4>张三丰</h4>
                            <a href="login.html">退出</a>
                        </div>
                        <b>会员类型：普通会员</b> <b>有效期：2018-01-19</b>
                    </div>
                </div>
                <ul>
                    <li class="cur"><a href="personal_information.html"><i>
                        <img src="images/gr_icon.png" width="24" height="23" /></i>个人资料</a> </li>
                    <li><a href="personal_edit.html"><i>
                        <img src="images/bj_icon.png" width="24" height="23" /></i>编辑资料</a> </li>
                    <li><a href="membercard.html"><i>
                        <img src="images/mony_icon.png" width="24" height="23" /></i>电子会员证</a> </li>
                    <li><a href="personal_payment.html"><i>
                        <img src="images/list_icon.png" width="24" height="23" /></i>缴费列表</a> </li>
                    <li><a href="personal_revise.html"><i>
                        <img src="images/key_icon.png" width="24" height="23" /></i>修改密码</a> </li>
                </ul>
            </div>
            <div class="per_right">
                <div class="key">
                    <h4>个人资料详细</h4>
                </div>
                <div class="notip">
                </div>
                <div class="l_inp">
                    <ul>
                        <li>
                            <font>会员名称：</font>
                            <em>白一通
                            </em>
                        </li>
                        <li>
                            <font>会员编号：</font>
                            <em>S110000001M
                            </em>
                        </li>
                        <li class="sex">
                            <font>性别：</font>
                            <em>男
                            </em>
                        </li>
                        <li>
                            <font>毕业学校：</font>
                            <em>北京大学
                            </em>
                        </li>
                        <li>
                            <font>党派信息：</font>
                            <em>中共党员
                            </em>
                        </li>
                        <li>
                            <font>工作单位：</font>
                            <em>北京大学
                            </em>
                        </li>
                        <li class="zd_f"><font>职称/等级：</font>
                            <em>高级
                                /中级
                            </em>

                        </li>
                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li><font>会员类型：</font>
                            <em>普通会员
                            </em>
                        </li>
                        <li><font>有效期至：</font>
                            <em>2019-05-07
                            </em>
                        </li>
                        <li>
                            <font>出生日期：</font>
                            <em>2018-05-22
                            </em>
                        </li>
                        <li>
                            <font>所学专业：</font>
                            <em>地理资源
                            </em>
                        </li>
                        <li>
                            <font>工作性质：</font>
                            <em>管理
                            </em>
                        </li>
                        <li>
                            <font>工作专业：</font>
                            <em>地理教师
                            </em>
                        </li>
                        <li>
                            <font>学历：</font>
                            <em>博士
                            </em>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="aed">
                    <li><font>业务成绩：</font>
                        <em>无
                        </em>
                    </li>
                </ul>
                <div class="l_inp">
                    <ul>
                        <li>
                            <font>手机号：</font>
                            <em>13511111111
                            </em>
                        </li>
                        <li>
                            <font>QQ：</font>
                            <em>100001
                            </em>
                        </li>

                        <li>
                            <font>传真：</font>
                            <em>010-4356540
                            </em>
                        </li>
                        <li>
                            <font>邮编：</font>
                            <em>100001
                            </em>
                        </li>
                    </ul>
                </div>
                <div class="l_inp">
                    <ul>
                        <li>
                            <font>电子邮箱：</font>
                            <em>13511111111@qq.com
                            </em>
                        </li>
                        <li>
                            <font>微信：</font>
                            <em>100001
                            </em>
                        </li>

                        <li>
                            <font>办公电话：</font>
                            <em>010-4356540
                            </em>
                        </li>

                    </ul>
                </div>
                <div style="clear: both"></div>
                <ul class="aed">
                    <li class="add">
                        <font>通讯地址：</font>
                        <em class="dex">内蒙古自治区秦皇岛市昌平区
                        </em>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div class="fot_w2">
        Copyright © 2009-2018 中国体视学学会 版权所有 京ICP备10033108 
        <br />
        京公网安备110108007550号<br />
        技术支持：北京智联软件技术有限公司
    </div>
</body>
</html>
