<template th:fragment="script">

    <script src="assets/js/base/vue.js"></script>
    <script src="assets/js/components/header.js"></script>
    <script src="assets/js/components/aside.js"></script>
    <script>
        Vue.component('v-header',{
            template:'#base-header',
            date: {

            }
        });

        Vue.component('v-aside',{
            template:'#base-aside',
            date: {

            }
        })

        new Vue({
            el:'#box'
        })
    </script>
</template>