/*
   公用样式
 */

[v-cloak] {
    display: none !important;
}

/*颜色*/
.red {
    color: red;
}

/*表单*/
.el-radio__input.is-checked .el-radio__inner {
    border-color: #642b91 !important;
    background: #642b91 !important;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #642b91 !important;
}

.el-button--primary.submitBtn {
    width: 195px;
    color: #fff !important;
    background-color: #642b91 !important;
    border-color: #642b91 !important;
}

.el-button--primary {
    color: #fff;
    background-color: #642b91 !important;
    border-color: #642b91 !important;
}

.el-button--primary:focus,.el-button--primary:hover {
    background-color: #642b91 !important;
    border-color: #642b91 !important;
}

.el-button--primary.is-active,.el-button--primary:active {
    background-color: #642b91 !important;
    border-color: #642b91 !important;
}
/*分页器*/
.search-pagination {
    margin-top: 10px;
}
.search-pagination .el-pagination {
    float: right;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #642b91 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #642b91 !important;
}
.el-pagination.is-background .el-pager li.active:hover {
    color: #fff !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #642b91 !important;
}
