<template th:fragment="hy">
    <!--会务富文本-->
    <template id="hw">
        <div>
            <p class="editor-tip" v-if="!List.length">没有数据～</p>
            <template v-for="(item,i) in List">
                <h3 class="editor-title">{{item.label}}</h3>
                <div class="editor-box" :id="'editor'+i"></div>
            </template>
        </div>
    </template>

    <!--报名费用-->
    <template id="bmfy">
        <div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="会员类型"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="起始时间"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="截止时间">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="注册费用">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="100"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="small">修改</el-button>
                        <el-button type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog title="添加" :visible.sync="dialogFormVisible" width="30%">
                <el-form :model="form" ref="ruleForm">
                    <el-form-item label="会员类型" label-width="120"
                                  prop="memberType"
                                  :rules="[
                                      { required: true, message: '请选择会员类型', trigger: 'change' },
                                    ]"
                    >
                        <el-select v-model="form.memberType" placeholder="请选择活动区域">
                            <el-option
                                    v-for="item in memberList"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="启始时间" label-width="120">
                        <el-date-picker
                                v-model="form.starTime"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="start_time"
                        ></el-date-picker>
                    </el-form-item>
                    <el-form-item label="截止时间" label-width="120">
                        <el-date-picker
                                v-model="form.endTime"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="end_time"
                        ></el-date-picker>
                    </el-form-item>
                    <el-form-item label="注册费用" label-width="120">
                        <el-input type="number" v-model="form.money" auto-complete="off" style="width: 230px"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="check">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </template>

    <!--分会场-->
    <template id="fhc">
        <div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="分会场名称（主题）"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="地址"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="承办单位">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="人数限制">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="报名人数">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="100"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="small">修改</el-button>
                        <el-button type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--酒店预订-->
    <template id="jdyd">
        <div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="宾馆名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="地址"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="负责人">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="电话">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="押金金额">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="人数限制">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="适合分会场">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="100"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="small">修改</el-button>
                        <el-button type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--参观路线-->
    <template id="cglx">
        <div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="参观线路名称"
                >
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="线路描述"
                 >
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="100"
                        label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="small">修改</el-button>
                        <el-button type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </template>
</template>