body {
    font-weight: 400 !important;
}
[v-cloak] {
    display: none;
}
.search-item {
    float: left;
    margin: 0 10px 10px 0;
}
.system-search .search-item .label {
    float: left;
    width: 65px;
    margin-right: 10px;
    line-height: 35px;
    text-align: right;
}
.system-search .search-item > .el-input {
    float: left;
    width: 150px;
}
.system-search .search-item .label.zhi {
    width: 86px;
    text-align: center;
    margin-right: 0;
    margin-inside: 0;
}
.system-search .select-btn {
    float: right;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.el-input__inner {
    height: 35px !important;
}
.el-select {
    width: 150px !important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus, .el-select-dropdown__item.selected {
    border-color: #716aca !important;
}
.el-select-dropdown__item.selected {
    color: #716aca !important;
}
.m-subheader, .m-body .m-content {
    padding-top: 10px !important;
}
.m-portlet .m-portlet__head {
    height: 4.1rem !important;
}
.system-search .btn {
    float: left;
    padding: .65rem 1.15rem !important;
    border-radius: .25rem;
}
.system-search .btn+.btn {
    margin-left: 10px;
}
.el-table th, .el-table thead tr {
    background: #f4f3f8 !important;
}
.search-table {
    margin-top: 20px;
}
.search-pagination .el-pagination {
    float: right;
}
.search-pagination {
    margin-top: 10px;
}
.search-pagination .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #5766dd !important;
}
.search-pagination .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #fff !important;
}
.search-pagination .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #5766dd !important;
}
.el-loading-spinner .path {
    stroke: #5766dd !important;
}
.el-tabs__item.is-active {
    color: #5766dd !important;
}
.el-tabs__active-bar {
    background-color: #5766dd !important;
}
.gary {
    color: #aaa;
}
.el-button--primary {
    background-color: #5766dd !important;
    border: #5766dd !important;
}
.m-body .m-content {
    min-width: 1050px;
}
